<mat-card>
  <mat-card-content>
    <p>Welcome to the {{cookiecutter.project_name}} project based on the cookie cutter Angular/FastAPI project!</p>
    <p>More details can be found at
      <a href="https://github.com/bubthegreat/cookiecutter-angular-fastapi">
        https://github.com/bubthegreat/cookiecutter-angular-fastapi
      </a>
    </p>
    <app-status></app-status>
  </mat-card-content>
</mat-card>